@font-face {
  font-family: "FiraCode Nerd Font";
  src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/FiraCode/Regular/complete/Fira%20Code%20Regular%20Nerd%20Font%20Complete%20Mono.ttf");
  font-style: normal;
}

:root {
  --black: #282c34;
  --blue: #61afef;
  --white: #abb2bf;
  font-family: "FiraCode Nerd Font", Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}
